.app-wrapper {
  display: grid;
  grid-template-areas:
"h h"
"n c ";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header{
  grid-area: h;
  background: green;
}

.header img{
  height: 60px;
}

.nav{
  grid-area: n;
  background: dodgerblue;
}

.content{
  grid-area: c;
  background: mediumpurple;
}

